---
layout: page
title: Projects
permalink: /projects/
<!-- projects: gamepadlive2D -->
---
<br>
<ul class="related-posts">
    {% for project in site.projects%}
        <li>
            <h3>
                <a href="{{ project.url | relative_url }}" target = "_blank">
                {{ project.name }}<br>
                {% for post in site.posts %}
                    {% if post.title contains project.doc %}
                        <a href="{{ post.url }}">相关文章：{{ post.title }}</a>
                        <small>{{ post.date | date: "%F" }}</small>
                    {% endif %}
                {% endfor %}
                </a>
            </h3>
        </li>
    {% endfor %}
</ul>
