---
layout: page
title: Tags
permalink: /tags/
---
<br>

<ul class="tags">
    {% for tag in site.tags %}
        <div class = "post-date"><a href="#{{ tag[0] }}">{{ tag[0] }}</a> 共{{ tag[1].size }}篇</sup></div>
    {% endfor %}
</ul>

<ul class="listing">
    {% for tag in site.tags %}
        <h2>{{ tag[0] }} <sup>{{ tag[1].size }}</sup></h2>
        {% for post in tag[1] %}
        <li class="listing-item">
            <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    {% endfor %}
</ul>