---
layout: page
title: Timeline
permalink: /timeline/
---
<br>

<ul>
	{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%Y-%m'" %}
	{% for yearMonth in postsByYearMonth %}
	{% assign year = yearMonth.name | slice: 0, 4 %}
	{% assign month = yearMonth.name | slice: 5, 2 %}

	<h2>{{ post.next.date | date: '%B %Y' }}</h2>
	<hr>

	<ul>
		{% for post in yearMonth.items %}
		<article class='post'>
			<h3 class='post-title'>
				<a href="{{ site.path }}{{ post.url }}">
					{{ post.title }}
				</a>
			</h3>
			<div class="post-date">{{ post.date | date: "%F" }}</div>
			{{ post.brief_introduction }}
		</article>
		{% endfor %}
	</ul>
	{% endfor %}
</ul>